.backgroundBlur {
    position: fixed;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    z-index: 5;
}

.mainAddContainer {
    height: 30rem;
    width: 25rem;
    margin: auto;
    background-color: rgb(87, 86, 86);
    border-radius: 10px;
    border: 1px solid white;
    animation: pop 0.5s;
    display: flex;
    flex-direction: column;
}

.titleContainer {
    width: 80%;
    height: 80px;
    margin: auto;
}
.descriptionContainer {
    width: 80%;
    height: 280px;
    margin: auto;
}
.controlContainer {
    width: 80%;
    height: 50px;
    margin: auto;
    display: flex;
    place-content: flex-end;
    padding: 10px;
}

.text,
.description {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
}
.description {
    height: 90%;
}
.btnMargin {
    margin-left: 8px;
    height: 2rem;
    width: 5rem;
}

.popOut {
    animation: popOut 0.3s ease-out;
}
.pop {
    animation: pop 0.3s ease-out;
}

/* For Desktops */
@media (min-width: 600px) {
    .mainAddContainer {
        width: 40rem;
    }
}
