@import "~@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Rethink Sans", sans-serif;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: black;
}

@media (min-width: 600px) {
    body {
        display: grid;
        place-content: center;
    }
}
