.mainContainer {
    height: 100dvh;
    background-color: gray;
    position: relative;
}

.topTextContainer {
    height: 100px;
    background-color: rgb(110, 110, 110);
    display: grid;
    place-content: center;
    font-size: xx-large;
    color: white;
}

.addThoughContainer {
    height: 100px;
    background-color: rgb(110, 110, 110);
    border: 1px solid;
    display: grid;
    place-content: center;
}

.mainThoughtContainer {
    height: 100px;
    background-color: rgb(110, 110, 110);
    border-top: 1px solid;
    display: flex;
    overflow: hidden;
}
.colorContainer {
    height: 100%;
    width: 20%;
    display: inline-block;
    display: grid;
    place-content: center;
    background-color: rgb(110, 110, 110);
    cursor: pointer;
}

.thoughtContainer {
    height: 100%;
    width: 80%;
    background-color: green;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.swipeable {
    position: absolute;
    background-color: rgb(110, 110, 110);
    font-size: x-large;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.deleteThough,
.editThough {
    height: 100%;
    background-color: rgb(187, 61, 61);
    width: 100px;
    display: grid;
    place-content: center;
    cursor: pointer;
}

.editThough {
    background-color: rgb(38, 143, 38);
}

.circleColor {
    color: red;
    background-color: green;
    font-size: xx-large;
}

.colorSelectorContainer {
    min-height: 50px;
    width: 200px;
    background-color: rgb(87, 86, 86);
    margin: auto;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    cursor: pointer;
}

.colorSelector {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    border: 1px solid;
    padding-left: 10px;
}

.fade-enter {
    opacity: 0;
    transform: scale(0.9);
}

.fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

/* For Desktops */
@media (min-width: 600px) {
    .mainContainer {
        width: 800px;
    }
}
